page-home {
.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
    width: 100%;
    right: 3%;
    max-height: 90%;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }


}
}
